.menu-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    width: 95%;
    max-width: 1200px;
    .template-card{
        padding: 0;
        background: linear-gradient(160deg, #800000 0%, #E2E8F0 100%);
        color: black;
        position: relative;
          h3{
        color:black
        }
        .addicon{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        opacity: .7;
      transition: transform 0.3s ease; 
     
    }
    .addicon:hover {
         transform: translateY(-5px);
    }

    
    
}
.template-card:hover{
    transform: none;
}
}